/Bone-Age-Assessment-master/Bone-Age-Assessment-master/data.pkl
/Bone-Age-Assessment-master/Bone-Age-Assessment-master/data_age.pkl
/Bone-Age-Assessment-master/Bone-Age-Assessment-master/data_gender.pkl
/Bone-Age-Assessment-master/venv
/archive/resnet50_best_imsize299_model.h5
/archive/venv